.medium-toolbar-arrow-under:after {
  top: 60px;
  border-color: black transparent transparent transparent; }

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-color: transparent transparent black transparent; }

.medium-editor-toolbar {
  background: rgba(255, 255, 255, 0.5);
  font-size: inherit; }
  .medium-editor-toolbar li {
    padding: 0; }
    .medium-editor-toolbar li button {
      font-size: inherit;
      background-color: black;
      min-width: 60px;
      height: 60px;
      border: none;
      margin-right: 1px;
      color: white;
      -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
      -moz-transition: background-color 0.2s ease-in, color 0.2s ease-in;
      -o-transition: background-color 0.2s ease-in, color 0.2s ease-in;
      transition: background-color 0.2s ease-in, color 0.2s ease-in;
      outline: none; }
      .medium-editor-toolbar li button.medium-editor-action-bold, .medium-editor-toolbar li button.medium-editor-action-bold * {
        font-weight: bold; }
      .medium-editor-toolbar li button.medium-editor-action-italic, .medium-editor-toolbar li button.medium-editor-action-italic * {
        font-weight: normal;
        font-style: italic; }
      .medium-editor-toolbar li button.medium-editor-action-quote, .medium-editor-toolbar li button.medium-editor-action-quote * {
        font-weight: normal;
        font-size: 40px; }
      .medium-editor-toolbar li button:hover {
        background-color: black;
        color: white; }
    .medium-editor-toolbar li .medium-editor-button-active {
      background-color: black;
      color: white; }
    .medium-editor-toolbar li .medium-editor-button-last {
      margin-right: 0; }

.medium-editor-toolbar-form-anchor input {
  height: 60px;
  background: black;
  color: white; }
  .medium-editor-toolbar-form-anchor input::-webkit-input-placeholder {
    color: white;
    color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form-anchor input:-moz-placeholder {
    color: white;
    color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form-anchor input::-moz-placeholder {
    color: white;
    color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form-anchor input:-ms-input-placeholder {
    color: white;
    color: rgba(255, 255, 255, 0.8); }
.medium-editor-toolbar-form-anchor a {
  color: white; }

.medium-editor-toolbar-anchor-preview {
  background: black;
  color: white; }

.medium-editor-placeholder:after {
  font-style: italic;
  opacity: 0.5; }
