@charset "UTF-8";
*, *:after, *:before {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Gill Sans", "Helvetica Neue", sans-serif;
  background: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  min-width: 1200px; }

.sections {
  background: white;
  color: black;
  padding: 80px 0;
  width: 1080px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.section {
  position: relative;
  page-break-inside: avoid; }
  .section .section-inner {
    *zoom: 1;
    margin: 0 auto;
    width: 900px;
    padding: 0 20px 20px;
    transition: opacity 0.3s; }
    .section .section-inner:after {
      content: "";
      display: table;
      clear: both; }
  .section.section-focused .section-inner .section-content:focus, .section.section-focused .section-inner .section-caption:focus {
    outline: none; }
  .section .section-helpers {
    position: absolute;
    top: 0;
    min-height: 100%;
    opacity: 0;
    width: 100px; }
    .section .section-helpers.section-helpers-left {
      right: 100%; }
    .section .section-helpers.section-helpers-right {
      left: 100%; }
    .section .section-helpers div {
      display: block;
      color: white;
      position: absolute;
      top: 0;
      height: 60px;
      font-size: 40px;
      width: 20px;
      text-align: center; }
    .section .section-helpers .section-drag-handle {
      cursor: ns-resize;
      right: 20px; }
      .section .section-helpers .section-drag-handle:before {
        content: "↕"; }
    .section .section-helpers .section-delete {
      font-size: 40px;
      line-height: 1;
      cursor: pointer;
      left: 20px; }
      .section .section-helpers .section-delete:before {
        content: "×"; }
  .section .section-caption {
    font-size: 17px;
    width: 290px;
    float: right; }
    .section .section-caption.medium-editor-placeholder:after {
      opacity: 0; }
  .section:hover .section-helpers {
    opacity: 1; }
  .section:hover .section-caption.medium-editor-placeholder:after {
    opacity: 0.5; }
  .section.ui-sortable-helper {
    background: rgba(255, 255, 255, 0.8); }
    .section.ui-sortable-helper .section-helpers {
      opacity: 1; }
  .section.ui-sortable-placeholder {
    background: black;
    visibility: visible !important; }

.section[data-type="image"] .section-content {
  text-align: center; }
  .section[data-type="image"] .section-content img {
    pointer-events: none;
    max-width: 100%; }

.section[data-type="text"] .section-content, .section[data-type="image"] .section-content, .section[data-type="graph"] .section-content {
  width: 500px;
  float: left;
  max-width: 100%; }

.section[data-type="header"] .section-caption {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 25px; }

p {
  margin-top: 0;
  margin-bottom: 20px; }

pre {
  font-family: Menlo, monospace;
  font-size: 13px; }

table th {
  font-weight: normal; }

.section-content *:last-child, .section-caption *:last-child {
  margin-bottom: 0; }

.drag-helper {
  display: none;
  pointer-events: none; }

body.dragover .drag-helper {
  position: fixed;
  z-index: 9;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 30px solid #2cc06d;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }

.drag-helper .message {
  pointer-events: none;
  color: #2cc06d;
  font-size: 28px;
  text-align: center;
  width: 100%; }

.add {
  text-align: center;
  margin: 20px; }

.add-section {
  padding: 13px 19px 12px;
  font-weight: normal;
  cursor: pointer;
  background: black;
  color: white;
  text-align: center; }
  .add-section:before {
    content: "Add content"; }

body.section-focused .section.section-focused .section-inner:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 1em;
  left: 80px;
  width: 1px;
  background: red; }

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; }

.x.axis path {
  display: none; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }

.chart svg {
  display: inline-block; }
.chart table {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  margin-bottom: 25px; }
