html, body
    overflow: hidden
    height: 100%
    margin: 0
    padding: 0

body
    font-family: "Gill Sans", "Helvetica Neue", sans-serif
    background: #fffff3
    color: #000
    -webkit-font-smoothing: antialiased

    font-weight: 300
    font-size: 20px
    line-height: 1.3

*, *:after, *:before
    box-sizing: border-box

.page-scroll
    overflow: scroll
    height: 100%
    width: 100%

.sections
    padding: 20px
    width: 800px
    max-width: 100%
    margin-left: auto
    margin-right: auto

.section
    padding-bottom: 20px
    border-bottom: 1px solid red
    margin-bottom: 20px

.section[data-type="image"]
    text-align: center

    img
        max-width: 100%

h1, h2, h3
    color: red
    font-style: italic
    font-weight: normal
    letter-spacing: .03em
    text-align: center

h1
    font-size: 35px

h2
    font-size: 30px

h3
    font-size: 25px

p
    margin: 0 auto 20px
    width: 500px
    max-width: 100%

    &:last-child
        margin-bottom: 0

.drag-helper
    display: none
    pointer-events: none

body.dragover .drag-helper
    position: fixed
    z-index: 9
    background: rgba(0, 0, 0, 0.8)
    top: 0
    left: 0
    right: 0
    bottom: 0
    border: 30px solid #2cc06d
    display: flex
    -webkit-box-align: center
    align-items: center

.drag-helper .message
    pointer-events: none
    color: #2cc06d
    font-size: 28px
    text-align: center
    width: 100%